@media(max-width: 991px) {

	#top-nav .container {
		width: 100%;
	}
	section.frm-register form .form-label {
		color: #f0f0f0;
		font-size: 18px;
	}
	section.frm-register form .form-label .thin {
		font-size: 12px;
	}
}	

@media(max-width: 768px) {
	#top-nav .container {
		width: 100%;
	}
	.xs-image-navbar{
		height: 32px;
	}
	.frm-login-inline .form-control {
		max-width: 120px;
		border-radius: 20px;
		border: none !important;
		font-size: 13px;
		font-weight: 300;
		height: 30px;
		text-align: center;
		box-shadow: 0px 1px 0px 1px #9e9e9e inset;
	}
	.frm-login-inline .btn {
		background-color: #603eb4;
		color: #fff;
		border: none;
		border-radius: 20px;
		min-width: 70px;
	}
}

@media(max-width: 767px) {
	#bs-example-navbar-collapse-1{
		width: 100% !important;
	}
	#form-email{
		width: 100% !important;	
	}
	.xs-align-center{
		text-align: center;
	}
	.xs-min-height{
		min-height: 550px;
	}
	.xs-min-height-confirm{
		min-height: 900px;
	}
	.xs-min-height-pass{
		min-height: 400px;
	}
	.xs-align-left{
		text-align: left;
	}
	.xs-form-login{
		border-color: #f8d169;
	}
	.navbar-form.frm-login-inline  .form-group{
		width: 100% !important;
	}
	.frm-login-inline .form-control{
		max-width: 1000px;
	}
	.frm-login-inline .btn{
		margin-top: 20px;
		width: 100% !important;
	}
	.form-inline{
		max-width: 1000px;
	}
	section.frm-register form {
		margin-top: 115px;
		padding: 25px 40px;
	}
	.xs-no-padding{
		padding: 0px;
	}
	#tanggal-formcontrol{
		display: inline-block;
	}
	#bulan-formcontrol{
		display: inline-block;
	}
	#tahun-formcontrol{
		display: inline-block;
	}
	.images-non{
		display: none;
	}
}	

@media(max-width: 360px) {
	section.frm-register form .form-label {
	color: #f0f0f0;
	font-size: 18px;
}
section.frm-register form .form-label .thin {
	font-size: 11px;
}
	.list-saranPengaduan .title{
		font-size: 11px;
	}
	.list-saranPengaduan h3{
		position: absolute;
		background-color: #f8d169;
		color: #603eb4;
		left: -30px;
		top: 50px;
		width: 130px;
		padding: 15px;
		font-weight: 300;
		padding: 30px;
		margin: 0px;
		font-size: 16px;
	}
	label{
		font-size: 11px;
	}
	h1{
		font-size: 13px;
		font-weight: 300;
	}
	.list-saranPengaduan-all h3 {
		position: absolute;
		background-color: #f8d169;
		color: #603eb4;
		top: 10px;
		padding: 15px;
		font-weight: 300;
		padding: 15px;
		margin: 0px;
		font-size: 16px;
	}
	.xs-min-height{
		min-height: 300px;
		min-width: 200px;
		
	}
	.xs-min-height-confirm{
		min-height: 900px;
	}
	.xs-min-width-confirm{
		min-height: 300px;
	}
	.xs-title{
		margin-left: -116px;
	}
	.list-saranPengaduan-all .title {
		font-weight: 600;
		color: #603eb4;
		font-size: 13px;

	}
	.list-saranPengaduan-all .xs-search {
		margin-left: -433px;
		margin-top: 35px;
		
	}
	.list-saranPengaduan-all .desc {
		font-weight: 200;
		margin-bottom: 5px;
	}
	.list-saranPengaduan-all .detail {
		font-size: 11px;
	}
	.xs-min-height-confirm{
		min-height: 1500px;
	}
	.Tindaklanjut h4 {
		position: relative;
		background-color: #603eb4;
		color: #f8d169;
		left: 50px;
		width: 200px;
		padding: 15px 35px 15px 15px;
		font-weight: 300;
		margin: 0px;
		font-size: 18px;
	}
	.xs-no-padding{
		padding: 0px;
	}
	.images-non{
		display: none;
	}
	#tanggal-formcontrol{
		display: inline-block;
	}
	#bulan-formcontrol{
		display: inline-block;
	}
	#tahun-formcontrol{
		display: inline-block;
	}
	.xs-align-center{
		text-align: center;
	}

}